<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editProfile()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2 class="tusDatos">Tus datos</h2>
  <div class="inputs">
    <div class="input">
      <ion-label>Nombre: </ion-label>
      <ion-input
        type="text"
        [(ngModel)]="User.username"
        placeholder="Ej: Juan"
      ></ion-input>
    </div>
  </div>
  <div class="inputs">
    <div class="input">
      <ion-label>Correo electronico: </ion-label>
      <ion-input
        type="email"
        [(ngModel)]="User.email"
        placeholder="Ej: juan@gmail.com"
      ></ion-input>
    </div>
  </div>

  <div class="inputs">
    <div class="input">
      <ion-label>Peso: (KG)</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="User.kg"
        placeholder="Ej: 80"
      ></ion-input>
    </div>
  </div>
  <div class="inputs">
    <div class="input">
      <ion-label>Altura: (CM)</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="User.height"
        placeholder="Ej: 183"
      ></ion-input>
    </div>
  </div>
  <div class="inputs">
    <div class="input">
      <div class="date">
        <ion-label>Fecha de nacimiento: </ion-label>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="datetime"
              presentation="date"
              [preferWheel]="true"
              displayFormat="YYYY:MM:DD"
              [(ngModel)]="User.birthday"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
    </div>
  </div>

  <div class="btnCerrar">
    <ion-button
      (click)="confirmDelete()"
      expand="block"
      fill="clear"
      shape="round"
    >
      Cerrar Sesion
    </ion-button>
  </div>
  <ion-button
    id="present-alert"
    class="editPass"
    expand="block"
    fill="outline"
    shape="border"
    (click)="openChangePasswordModal()"
  >
    Editar contraseña
  </ion-button>
</ion-content>
