<ion-content>
  <ion-searchbar
    (ionInput)="filterlist($event)"
    placeholder="Buscar rutinas"
  ></ion-searchbar>
  <ion-label> Filtrar por: </ion-label>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" (click)="presentRutinasSheet()"
        >Rutinas</ion-button
      >
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" (click)="presentDayActionSheet()"
        >Dia</ion-button
      >
    </ion-col>
  </ion-row>
  <div class="noRutinas" *ngIf="noRutinas">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Crea una rutina para empezar a entrenar
        </ion-card-title>
      </ion-card-header>
      <ion-button
        routerLink="/rutinas"
        expand="block"
        fill="outline"
        color="primary"
      >
        Crea tu rutina
      </ion-button>
    </ion-card>
  </div>
  <div class="rutina" *ngFor="let rutina of RutinaEjercicio">
    <div class="rutina2">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{rutina.Rutina.nombre}}</ion-card-title>
          <ion-card-subtitle>{{rutina.Rutina.Dia}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content *ngFor="let ejercicio of rutina.Ejercicios">
          <div class="space">
            <div class="info">
              <h2 style="font-weight: bolder; font-size: 1rem">
                {{ejercicio.nombre}}
              </h2>
              <ion-chip>{{ejercicio.equipacion}}</ion-chip
              ><ion-chip>{{ejercicio.musculo}}</ion-chip>
              <ion-chip>{{ejercicio.dificultad}}</ion-chip>
            </div>
            <p>{{ejercicio.instrucciones}}</p>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
