<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="CambiarContra">
    <h2 class="tusDatos">Cambiar contraseña</h2>

    <div class="input">
      <ion-list>
        <ion-label>Nueva contraseña: </ion-label>
        <ion-input
          type="password"
          minlength="8"
          [(ngModel)]="newPassword"
          placeholder="Ej: 12345678"
          [class.error]="!check"
          #passwordCtrl="ngModel"
        ></ion-input>
      </ion-list>
    </div>
    <ion-note
      class="error-message"
      *ngIf="passwordCtrl.touched && passwordCtrl.invalid"
    >
      La contraseña debe tener al menos 8 caracteres.
    </ion-note>
    <div class="input">
      <ion-list>
        <ion-label>Repetir nueva contraseña: </ion-label>
        <ion-input
          type="password"
          minlength="8"
          [(ngModel)]="repeatPassword"
          #passwordCtrl2="ngModel"
          placeholder="Ej: 12345678"
          [class.error]="!check"
        ></ion-input>
      </ion-list>
    </div>
    <ion-note *ngIf="!check" class="error-message">
      Las contraseñas no coinciden
    </ion-note>
    <ion-button
      id="present-alert"
      class="editPass"
      expand="block"
      fill="outline"
      shape="border"
      [disabled]="passwordCtrl.invalid || passwordCtrl2.invalid"
      (click)="passwordsMatch()"
    >
      Editar contraseña
    </ion-button>
  </div>
</ion-content>
