.contenedor-padre {
  display: flex;
  flex-direction: column;
  height: 100vh; // Asegúrate de que el contenedor padre ocupe toda la altura de la vista


}

.registro {
 flex: 1;
  min-height: fit-content;
  margin: 0px 15px;
}

.btnRegLog{

}
.Login {
 flex:1;
 margin: 0px 15px;
}

.imgBack {
  flex: 1;
  background-size: cover;
  max-height: 30vh;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50%), url("/assets/images/Login.webp");


}

.imgBack2 {
  flex: 1;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50%), url("/assets/images/Login.webp");
  background-size: cover;

}

ion-label{
  font-weight: 600;
}

ion-title{
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;


}

.btnLogin{
margin-top: 5px;
}
