<div *ngIf="isLoginView; else registrationTemplate">
  <h2>Iniciar sesión</h2>

  <!-- Formulario de inicio de sesión aquí -->
  <form>
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input name="email" aria-label="Correo electrónico" [(ngModel)]="emailInic" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input name="password" aria-label="Contraseña" [(ngModel)]="PassInic" type="password" required></ion-input>
    </ion-item>

    <ion-button (click)="formInfoLogin()" expand="full" type="submit">Iniciar sesión</ion-button>
  </form>
  <p>¿Olvidaste la contraseña?  <a >Pulsa aqui</a></p>
  <p>¿Todavía no te has registrado? <a (click)="isLoginView = false">Regístrate aquí</a></p>
</div>

<ng-template #registrationTemplate>
  <h2>Registro</h2>
  <!-- Formulario de registro aquí -->
  <form>
  <ion-item>
  <ion-label position="floating">Nombre</ion-label>
  <ion-input type="text" required></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Apellidos</ion-label>
  <ion-input type="text" required></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Edad</ion-label>
  <ion-input type="date" required></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Correo electrónico</ion-label>
  <ion-input type="email" required></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input type="password" required></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Repetir contraseña</ion-label>
  <ion-input type="password" required></ion-input>
</ion-item>

<ion-button expand="full" type="submit" (click)="registerForm()">Registrarse</ion-button>
</form>


  <p>¿Ya tienes una cuenta? <a (click)="isLoginView = true">Inicia sesión aquí</a></p>
</ng-template>
