h2 {
  text-align: center;
  color: #A1EF00;
  font-size: 2.0rem;
  text-shadow: 4px 4px 4px #000000;
}

ion-button {
  border-radius: 20px;
  margin-top: 10px;
}


ion-item {
  margin: 10px;
  border-radius: 5px;
  max-height: fit-content;
  border: 2px solid #A1EF00;
  background-color: #000000;

   .Fecha{
font-size: 0.65rem;

  --padding-end: 25px;
   }

  ion-input {
    font-size: 0.7rem;
    padding: 0;
    font-weight: bold;
margin: 0px 20px;
  }

}





