
div.rutinas{
    display: flex;
    flex-direction: column;
  text-align: center;

    padding: 0;
    margin: 0;
;
}
div.select{
padding-bottom: 30px;
padding-top: 5px;
}

#cantidadEjercicios{
  display: flex;
  flex-direction: column;

  text-align: center;
}
