
div.rutinas{
    display: flex;
    flex-direction: column;
  text-align: center;

    padding: 0;
    margin: 0;

ion-label{
    font-size: 1.1rem;

}
ion-item{
  font-size: 1.1rem;
}

.dark-button {
  background-color: #444;
}
}
div.select{
padding-bottom: 30px;
padding-top: 5px;
}

#cantidadEjercicios{
  display: flex;
  flex-direction: column;

  text-align: center;
}

div.select:has(ion-item) ion-item{
  padding: 10px 0px;
  margin: 10px 0px;
}

