<div class="rutinas">
  <div>
    <ion-item>
      <ion-label position="stacked">Nombre de tu rutina</ion-label>
      <ion-input
        placeholder="Ingresa el nombre aquí"
        [(ngModel)]="nombreRutina"
      ></ion-input>
    </ion-item>
    <div class="select">
      <ion-item>
        <ion-select
          label="Cantidad de ejercicios"
          id="cantidadEjercicios"
          name="cantidadEjercicios"
          [(ngModel)]="cantidadEjercicios"
        >
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
          <ion-select-option value="5">5</ion-select-option>
          <ion-select-option value="6">6</ion-select-option>
          <ion-select-option disabled value="none"
            >¿Quieres mas? Pasate a PRO</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select
          label="Dia de la semana"
          id="dia"
          name="dia"
          [(ngModel)]="dia"
        >
          <ion-select-option value="Lunes">Lunes</ion-select-option>
          <ion-select-option value="Martes">Martes</ion-select-option>
          <ion-select-option value="Miercoles">Miercoles</ion-select-option>
          <ion-select-option value="Jueves">Jueves</ion-select-option>
          <ion-select-option value="Viernes">Viernes</ion-select-option>
          <ion-select-option value="Sabado">Sabado</ion-select-option>
          <ion-select-option value="Domingo">Domingo</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>

  <div class="button-div">
    <ion-button [disabled]="isFormIncomplete()" [ngClass]="{'dark-button': isFormIncomplete()}" (click)="openModal()">
      <ion-icon name="add"> </ion-icon>
      Crea tu rutinas
    </ion-button>
  </div>
</div>
