<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Añadir Ejercicios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="guardarRutina()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar
    (ionInput)="filterlist($event)"
    placeholder="Buscar ejercicios"
  ></ion-searchbar>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" (click)="presentActionSheet()">Grupos Musculares</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" (click)="presentEquipmentActionSheet()">Equipamiento</ion-button>
    </ion-col>
  </ion-row>
  <ion-item *ngIf="isLoading">
    <ion-spinner name="crescent"></ion-spinner>
  </ion-item>
  <ion-list>
    <!-- EL ngfor va abajo  -->

    <ion-item
      *ngFor="let ejercicio of Ejercicio"
      (click)="seleccionarEjercicio(ejercicio)"
    >
      <div
        *ngIf="isSelected(ejercicio)"
        style="
          border-radius: 5px;
          border-left: 7px solid var(--ion-color-primary);
          padding-left: 10px;
        "
      >
        <ion-label>
          <h2>{{ ejercicio.nombre }}</h2>
          <p>{{ ejercicio.musculo }},{{ ejercicio.dificultad }}</p>
        </ion-label>
      </div>
      <div *ngIf="!isSelected(ejercicio)">
        <ion-label>
          <h2>{{ ejercicio.nombre }}</h2>
          <p>{{ ejercicio.musculo }},{{ ejercicio.dificultad }}</p>
        </ion-label>
      </div>
      <ion-button fill="outline" slot="end" (click)="verMas(ejercicio, $event)"
        >Más información</ion-button
      >
    </ion-item>
  </ion-list>
</ion-content>
