@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter-Medium.ttf');
  font-weight: 500;
}


@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter-SemiBold.ttf');
  font-weight: 600;
}
