<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tus-rutinas">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Tus Rutinas</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tu-semana">
      <ion-icon name="barbell"></ion-icon>
      <ion-label>Tu Semana</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="rutinas">
      <ion-icon name="add"></ion-icon>
      <ion-label>Crea tu rutina</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="auth">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
