/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


body {
  background-color: #242424;
  color: #ffffff;
}

ion-button {
  --background: #9fef00c5;
  --color: #ffffff;
}


.login-register-page {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: start;
  height: 100vh;
  background: url('/assets/images/Login.webp');
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;


}

.modal {
  --height: 50vh;
  --max-height: 90vh;
  --min-height: 50vh;
  --initial-breakpoint: 0.5;
  --final-breakpoint: 1;
}

