h1 {
  text-align: center;
  font-weight: bolder;
  border-bottom: solid 2px var(--ion-color-primary);

  padding-bottom: 20px;
}
.label {
  padding-top: 30px;
  margin: 0px;
  margin-left: 10px;

  sub {
    margin: 0px;
    padding: 0px;
    font-size: medium;
  }
}
.cardDay {
  color: #000000;
  display: flex;
  background-color: var(--ion-color-primary);
  gap: 55px;
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.icono {
  font-size: 4.5rem;
  padding-top: 15px;
  cursor: pointer;
}
.textIcon {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 45px;
}

.noRutinas {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.noRutinas:has(ion-icon) ion-icon {
  font-size: 4rem;
  margin-left: 10px;
}

.cardDay2 {
  color: #000000;
  display: flex;
  flex-direction: column;
  background-color: var(--ion-color-primary);
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  height: 40vh;

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .imcNum {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }
  .imcTxt {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .Num {
    border: #000000 solid 2px;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    margin: 20px;
  }
}

.home {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

.cardDay2Danger {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  background-color: var(--ion-color-danger);
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  height: 40vh;

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .imcNum {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0px;
    color: #000000;
    padding: 0px;
  }
  .imcTxt {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .Num {
    border: #000000 solid 2px;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    margin: 20px;
  }
}
.cardDay2Warning {
  color: #000000;
  display: flex;
  flex-direction: column;
  background-color: var(--ion-color-warning);
  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  height: 40vh;

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .imcNum {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }
  .imcTxt {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .Num {
    border: #000000 solid 2px;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    margin: 20px;
  }
}
.cardDay2Success {
  color: #000000;
  display: flex;
  flex-direction: column;
  background-color: var(--ion-color-success);

  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  height: 40vh;

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .imcNum {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }
  .imcTxt {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .Num {
    border: #000000 solid 2px;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    margin: 20px;
  }
}

.cardDay2Blur {
  filter: blur(9px);
  color: var(--ion-color-primary);
  display: flex;
  flex-direction: column;
  background-color: var(--ion-color-primary);
  background-image: url("../../assets/images/candado.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 20px;
  margin: 10px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  height: 40vh;

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .imcNum {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }
  .imcTxt {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .Num {
    border-radius: 5px;
    padding: 25px;
    margin: 20px;
  }
}
