ion-card-content {

  background-color: black;
  margin: 10px;
    strong {
    color: var(--ion-color-primary);
  }
  color: white;
}

ion-card-title {
  color: var(--ion-color-primary);
  background-color: black;
}

.modalContent {
  width: auto;
  height: auto;
  background-color: black;
  color: white;
}

.modalContent ion-card {
  background-color: black;

  box-shadow: 0px 0px 8px 4px #aefc41;

}



