
  ion-card-content {

   


  strong {
  color: var(--ion-color-primary);
  }
}

ion-card-title {
  color: var(--ion-color-primary);
}

.modalContent {
  width: auto;
  height: auto;
background-color: var(--primary);
color: white;
}

.modalContent ion-card {
  height: 250px;
}
